*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.xdv
recent_work_report/
培训*/
lcGi8NeCd14458641de55ec1d705ea01714ff2dd/
homework/
暑假推荐/
资料库/
建模程序作业汇总---模型讲解与程序实现作业请上传至这里，严禁外传！！.zip
资料库.zip
CUMCM评阅要点/
mock_exam/questions/B
mock_exam/questions/C
mock_exam/questions/A/4.OBD dataset
real_exam/CUMCM2019Problems
